/configure
aclocal.m4
autom4te.cache
/Scale
/Trilinos
/TriBITS
/VERAInExt
/DataTransferKit
/MCLS
/ParaSails
.egdist
/config
*~
*.swp
*.cache
*.aux
*.log
*.lof
*.toc
*.pdftex_t
*.out
*.pyc
.DS_Store
/doc/build
/doc/pykba/build/
/doc/infobook/INSTALL
/doc/methods/coordinates.pdf
/doc/methods/denovo.pdf
/doc/methods/mesh.pdf
/doc/methods/mg_grid.pdf
/doc/methods/sweep.pdf
/doc/infobook/develop.cp
/doc/infobook/develop.cps
/doc/infobook/develop.fn
/doc/infobook/develop.ky
/doc/infobook/develop.pdf
/doc/infobook/develop.pg
/doc/infobook/develop.tp
/doc/infobook/develop.vr
cmake/dependencies/
